* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(248, 220, 220);
  font-family: sans-serif;
  outline: none;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: rgb(250, 190, 240);
  padding: 15px;
  /* width: 280px; */
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ffffff, 
                    5px 5px 12px rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: repeat(4, 68px);
}

input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: rgb(243, 213, 220);
  box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 30px;
  color: rgb(231, 14, 50);
  font-size: 40px;
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}

button {
  height: 48px;
  width: 47px;
  /* margin: 23px; */
  background-color: rgb(226, 80, 112);
  box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 50%;
  margin: 19px;
  font-size: 18px;
}
.equal {
  width: 85px;
}
